<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon32x32.png"
		  th:href="@{/img/favicon32x32.png}">
	<link rel="shortcut icon" href="../static/img/favicon32x32.png" type="image/x-icon"
		  th:href="@{/img/favicon32x32.png}">
	<link rel="stylesheet" href="../static/css/error.css" th:href="@{css/error.css}">
	<script rel="script" src="../static/scripts/error.js" th:src="@{../static/scripts/error.js}" defer></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		const serverAddress = [[${serverAddress}]];
		/*]]>*/
	</script>
	<title th:text="#{html.title.errorPage}">Error page</title>
</head>
<body>

<div id="main" class="main">
	
	<header class="mainHeader">
		
		<img src="../static/img/MapPointsTrimmerLogo.png" th:src="@{/img/MapPointsTrimmerLogo.png}" alt="logo"
			 class="mainHeader__logoImg">
		
		<div class="nameHeaderGroup">
			
			<a href="/" th:href="@{/}" class="nameHeaderGroup__appName">
				<h1 class="nameHeaderGroup__appName" th:utext="#{html.h1.header}">
					MAP POINTS TRIMMER
				</h1>
			</a>
			<h2 class="nameHeaderGroup__appSlogan" th:text="#{html.h2.slogan}">
				The handler for your custom POI with photos
			</h2>
		
		</div>
		
		
		<div class="rightHeaderGroup">
			
			<select class="rightHeaderGroup__langSelector" onchange="location = this.value">
				<option th:text="#{html.header.option.lang}">Language...</option>
				<option th:value="@{/(lang=en)}">EN</option>
				<option th:value="@{/(lang=ru)}">RU</option>
			</select>
			<img src="../static/img/turnOffBtn.png" alt="SHUTDOWN" class="rightHeaderGroup__shutdownButtonOn_img"
				 th:alt="#{html.text.shutdown}" th:title="#{html.text.shutdown}"
				 th:src="@{/img/turnOffBtn.png}"
				 th:class="${#request.getAttribute('shutdownBtnClass')} != null ?
				  ${#request.getAttribute('shutdownBtnClass')} : 'rightHeaderGroup__shutdownButtonOn_img'">
		
		</div>
	
	</header>
	
	<h2 th:utext="${debugMessage == null} ? #{html.h1.error} : #{html.h1.debugMode}">
		There is an error occurred in the application!
	</h2>
	
	<div class="userMessage" th:utext="${userMessage != null} ? ${userMessage} : #{userMessage.errorPageMessage}"></div>
	
	<main class="mainBody">
		
		<article class="article" th:if="${debugMessage != null}">
			
			<section class="article__section article__section_copyText"
					 th:utext="#{commonMessages.article.copyLogSection}">
				The full application log is placed below in the hidden section. If you are quite sure that the
				following error is abnormal you can
				<a id="clickHere" title="Copy the text into memory" th:title="#{html.title.a.copyIntoMemory}" href="">
					click here </a>
				to copy the full log text and send it to the developer for examination.
			</section>
			
			<section id="closableSection" class="article__section article__section_closed"
					 th:utext="${debugMessage}">
				2020-06-15 20:09:42.829 WARN 2196 --- [http-nio-8088-exec-1] .m.m.a.ExceptionHandlerExceptionResolver :
				Resolved [org.xml.sax.SAXParseException; lineNumber: 5; columnNumber: 15; The prefix "atom" for element
				"atom:author" is not bound.]
				2020-06-15 20:14:55.788 INFO 2196 --- [SpringContextShutdownHook]
				o.s.s.concurrent.ThreadPoolTaskExecutor : Shutting down ExecutorService 'applicationTaskExecutor'
			</section>
		
		</article>
	
	</main>
	
	<article class="articleAbout" th:utext="#{commonMessages.about}" th:title="#{html.title.close}" title="Close"
			 style="display: none">
		About application text.
	</article>
	
	<footer class="mainFooter">
		
		<div id="aboutItem" class="mainFooter__item" th:text="#{html.text.about}">About</div>
		
		<div>
			<ul class="listSmall">
				<li title="Developer's Github" th:title="#{html.title.footer.contacts.github}">
					<a href="https://github.com/BAXMYPKA/MAP-POINTS-TRIMMER/releases" target="_blank"
					   class="mainFooter__item_smaller">
						Github
					</a>
				</li>
				<li title="Email" th:title="#{html.title.footer.email}">
					<a href="mailto:mrbaxmypka@yandex.ru" class="mainFooter__item_smaller">Email</a>
				</li>
				<li class="mainFooter__item_noStyle" title="Location" th:title="#{html.title.footer.location}">
					RU, Moscow
				</li>
			</ul>
		</div>
	
	</footer>

</div>

</body>
</html>