<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}">
	<script src="../static/scripts/index.js" th:src="@{/scripts/index.js}" defer></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		const maxFileSizeMb = [[${maxFileSizeMb}]];
		/*]]>*/
	</script>
	<title>Locus POI trimmer</title>
</head>
<body>

<div id="main" class="main">
	
	<header class="mainHeader">
		
		<img src="../static/img/unnamed.png" th:src="@{/img/unnamed.png}" alt="logo" class="mainHeader__logo">
		
		<div class="nameHeaderGroup">
			
			<a href="/" th:href="@{/}" class="nameHeaderGroup__appName">
				<h1 class="nameHeaderGroup__appName" th:utext="#{html.h1.header}">
					MAP POINTS TRIMMER
				</h1>
			</a>
			<h2 class="nameHeaderGroup__appSlogan">The handler for your custom POI database</h2>
		
		</div>
		
		
		<div class="rightHeaderGroup">
			
			<select class="rightHeaderGroup__langSelector" onchange="location = this.value">
				<option th:text="#{html.option.lang}">Language...</option>
				<option th:value="@{/(lang=en)}">EN</option>
				<option th:value="@{/(lang=ru)}">RU</option>
			</select>
			
			<button class="rightHeaderGroup__shutdownButtonOn"
					th:class="${shutdownBtnClass} ?: 'shutdownButtonOn'"
					th:text="#{html.text.shutdown}" th:title="#{html.title.shutdown}">
				SHUTDOWN
			</button>
		
		</div>
	
	</header>
	
	<main class="mainBody">
		
		<h2 th:text="#{html.h2.howToConvert}" class="h2">
			How to properly trim and process your custom Points if Interest (POI) with photos
		</h2>
		
		
		<article class="article" th:utext="#{html.article.howToUse}">
			How properly import and export POIs from Locus to Google Earth (and vise versa) application description.
		</article>
		
		<div id="userMessage" class="userMessage" title="Close"
			 th:utext="${userMessage} != null ? ${userMessage} : ''"
			 th:class="${userMessage} != null ? 'userMessage' : 'userMessage.hidden'"
			 th:title="#{html.title.close}">
		</div>
		
		<form class="loadForm" action="/poi" method="post" enctype="multipart/form-data"
			  th:action="@{/poi}" name="poiFile" id="poiFile">
			<label for="locusFile" th:text="#{html.label.loadPoi}" class="loadForm__label">
				Load custom points file
			</label>
			<div class="interrogation" title="Description" th:title="#{html.title.interrogation.locusFile}">?</div>
			<br>
			<input id="locusFile" type="file" accept=".kmz, .kml" class="inputButton" name="multipartFile"
				   required autofocus>
			<br><br>
			
			<label for="fieldSetMain" class="loadForm__label loadForm__label_LoadFieldSet"
				   th:text="#{html.label.additionalParams}">
				Set additional parameters
			</label>
			
			<fieldset id="fieldSetMain" class="loadForm loadForm__fieldSet">
				<!--				<input id="validateXml" name="validateXml" type="checkbox">-->
				<!--				<label for="validateXml" th:text="#{html.label.validateXml}">Severe validation check</label>-->
				<!--				<div class="interrogation" title="Description" th:title="#{html.title.photoPreviewDescription}">?</div>-->
				<!--				<br>-->
				<input id="trimXml" name="trimXml" type="checkbox">
				<label for="trimXml" th:text="#{html.label.trimXml}" class="loadForm__label">
					Trim whitespaces in xml markup to compress
				</label>
				<div class="interrogation" title="Description" th:title="#{html.title.interrogation.trimXml}">?</div>
				<br>
				<input id="trimDescriptions" name="trimDescriptions" type="checkbox">
				<label for="trimDescriptions" class="loadForm__label" th:text="#{html.label.trimDescriptions}">
					Trim whitespaces in user descriptions to compress
				</label>
				<div class="interrogation" title="Description" th:title="#{html.title.interrogation.trimDescription}">
					?
				</div>
				<br>
				<input id="setPreviewSize" name="setPreviewSize" type="checkbox">
				<label for="setPreviewSize" class="loadForm__label" th:text="#{html.label.previewSize}">
					Set photos preview size
				</label>
				<div class="interrogation" title="Description" th:title="#{html.title.interrogation.setPhotosPreview}">
					?
				</div>
				<br>
				<input id="previewSize" name="previewSize" type="number" placeholder="640" value="640"
					   min="0" max="2440" disabled>
				<span th:text="#{html.span.px}">px</span>
				<br>
				<input id="setPath" name="setPath" type="checkbox">
				<label for="setPath" class="loadForm__label" th:text="#{html.input.setPath}">
					Set paths to all image files in map points
				</label>
				<div class="interrogation" title="Description" th:title="#{html.title.interrogation.setPath}">?</div>
				<br>
				<input type="radio" name="pathType" id="relativePath" value="relative" checked disabled>
				<label for="relativePath" class="loadForm__label loadForm__label_subSelectLabel"
					   th:text="#{html.text.relativePath}">
					Relative path
				</label>
				<div class="interrogation" title="Description" th:title="#{html.title.interrogation.relativePath}">
					?
				</div>
				<br>
				<input type="radio" name="pathType" value="absolute" id="absolutePath" disabled>
				<label for="absolutePath" class="loadForm__label loadForm__label_subSelectLabel"
					   th:text="#{html.text.absolutePath}" >
					Absolute path
				</label>
				<div class="interrogation" title="Description" th:title="#{html.title.interrogation.absolutePath}">
					?
				</div>
				<br>
				<input type="radio" name="pathType" value="web" id="webPath" disabled>
				<label for="webPath" class="loadForm__label loadForm__label_subSelectLabel"
					   th:text="#{html.text.webPath}">
					WEB path
				</label>
				<div class="interrogation" title="Description" th:title="#{html.title.interrogation.webPath}">
					?
				</div>
				<br>
				<br>
				<input id="path" name="path" type="text" disabled
					   th:title="#{html.title.defaultPath}"
					   title="Windows 7/10 default path to the installed Google Earth Pro's saved places"
					   th:placeholder="#{html.placeholder.input.defaultPath}"
					   placeholder="C:\Users\%username%\AppData\LocalLow\Google\GoogleEarth\files"
					   th:value="#{html.placeholder.input.defaultPath}"
					   value="C:\Users\%username%\AppData\LocalLow\Google\GoogleEarth\files">
				<div class="interrogation" title="Description" th:title="#{html.title.interrogation.path}">?</div>
				<br>
			</fieldset>
			<br>
			
			<label for="fieldSetLocus" class="loadForm__label loadForm__label_LoadFieldSet"
				   th:utext="#{html.label.locusParams}">
				Set Locus Map&copy; specific parameters
			</label>
			
			<fieldset id="fieldSetLocus" class="loadForm loadForm__fieldSet">
				<input id="asAttachmentInLocus" name="asAttachmentInLocus" type="checkbox">
				<label for="asAttachmentInLocus" class="loadForm__label"
					   th:text="#{html.label.locusAsAttachments}">
					Add as attachments in Locus Pro
				</label>
				<div class="interrogation" title="Description"
					 th:title="#{html.title.interrogation.asAttachmentInLocus}">
					?
				</div>
				<br>
				<input id="clearDescriptions" name="clearDescriptions" type="checkbox">
				<label for="clearDescriptions" class="loadForm__label"
					   th:text="#{html.label.clearDescriptions}">
					Clear outdated POIs	descriptions
				</label>
				<div class="interrogation" title="Description"
					 th:title="#{html.title.interrogation.trimOutdatedPoiDesc}">?
				</div>
				<br>
			
			</fieldset>
			
			<fieldset class="loadForm loadForm__fieldSet loadForm__fieldSet_bottomFieldset">
				<input type="submit" id="trim"  value="PROCESS" class="inputButton loadForm__inputButton_processSpecialButton"
					   th:value="#{html.input.value.convert}">
				<span class="downloadMessage" th:utext="#{userMessage.downloadMessageAwait}" hidden>
					Download
				</span>
			</fieldset>
		
		</form>
	
	</main>
	
	<footer class="mainFooter">
		
		<div class="mainFooter__footerContent">About</div>
		<div class="mainFooter__footerContent">Contacts: BAXMYPKA</div>
	
	</footer>

</div>

</body>
</html>